body {
    header {
        height: 25vh;
        background: purple;
        color:white;
    }
    footer {
        height: 25vh;
        background: red;
        color:white;

    }
    .centrale {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 500px;
        background: black;
        color: red;
    }
    .spaziosingolo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background: orange;
        color: grey;
    }
    .main {
        height: 50vh;
        background: black;
        color: red;
    }
    h1, h2, h3, p {
        display: flex;
        justify-content: center;
        align-items: center;
        color:blue;
        padding: 5px;
        font-size: 40px;
    }
    a {
        text-decoration: none;
    }
    a:hover{
        color:red;
    }

}
