* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  height: 25vh;
  background: purple;
  color: white;
}

body footer {
  height: 25vh;
  background: red;
  color: white;
}

body .centrale {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 500px;
  background: black;
  color: red;
}

body .spaziosingolo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: orange;
  color: grey;
}

body .main {
  height: 50vh;
  background: black;
  color: red;
}

body h1,
body h2,
body h3,
body p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  padding: 5px;
  font-size: 40px;
}

body a {
  text-decoration: none;
}

body a:hover {
  color: red;
}

