* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  height: 25vh;
  background: purple;
  color: white;
  border-bottom: 3px solid black;
}

body footer {
  height: 25vh;
  background: red;
  color: white;
  border-top: 3px solid black;
}

body label {
  font-size: 45px;
}

body input {
  height: 40px;
  width: 200px;
  border-radius: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body select {
  height: 40px;
  width: 200px;
  border-radius: 5%;
}

body ul {
  display: block;
  width: 500px;
}

body li {
  display: inline;
  margin: 0;
  padding: 10px;
}

body .centrale {
  height: 500px;
  background: black;
  color: red;
}

body .spaziosingolo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background: orange;
  color: grey;
  flex-wrap: wrap;
}

body .spazioedit {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background: orange;
  color: grey;
  flex-wrap: wrap;
}

body h1,
body h2,
body h3,
body p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: blue;
  padding: 5px;
  font-size: 40px;
}

body a {
  text-decoration: none;
  font-size: 48px;
  color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body a:hover {
  color: red;
}

